# Keep environment variables out of version control
.env

# Nodejs
node_modules

# Database
prisma/dev.db*
data
build

# Documentation
docs/bundle.css
docs/bundle.css.map
docs/bundle.js
docs/bundle.js.map
